:host {
    opacity: 0;
    transition: opacity ease-out 0.4s;

    &.fadein {
        opacity: 1;
    }
}

.overlay {
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.8);
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
}

@keyframes ui-progress-spinner-color {
    100%,
    0% {
        stroke: #31b57c;
    }
}
