:host {
    opacity: 0;
    transition: opacity ease-out 0.4s;

    &.fadein {
        opacity: 1;
    }
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
}

@keyframes ui-progress-spinner-color {
    100%,
    0% {
        stroke: #6C8898;
    }
}
